@import url('https://fonts.googleapis.com/css?family=Ubuntu|Varela+Round');
* {
    font-family: 'Varela Round', sans-serif;
}

header {
    background-color: rgba(30, 61, 145, 0.88);
    font-weight: 600;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
}

.estudiante {
    width: 40%;
    background-color: #8AB7F1;
    border: 7px solid rgba(255, 255, 255, 0.84);
    padding: 0 20px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 120%;
}

.range {
    display: table;
    position: relative;
    cursor: pointer;
}

.botones {
    margin: 20px auto;
    max-width: 80%;
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
}